body {
    background-color: bisque;
    text-align: center;
    border: 2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: beige;
    margin: 0 auto;
    padding: 10px;
}

p {
    padding: 20px 30px;
    text-align: justify;
}

img {
    width: 500px;
    border-radius: 10px;
}

h2 {
    color:blue ;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 20px 30px;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid blue;
    background-color: floralwhite;
}

ol {
    text-align: justify;
    padding: 20px 30px;
}

